@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 100% 92%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 43 100% 92%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --border: 0 0% 9%;
    --input: 0 0% 9%;
    --ring: 0 0% 9%;
    --radius: 0.75rem;

    /* Neo-brutalist additions */
    --card-background: 0 0% 100%;
    --shadow-neo: 4px 4px 0px 0px hsl(0 0% 9%);
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;
    --border: 0 0% 98%;
    --input: 0 0% 98%;
    --ring: 0 0% 98%;

    /* Neo-brutalist additions for dark mode */
    --card-background: 0 0% 14%;
    --shadow-neo: 4px 4px 0px 0px hsl(0 0% 98%);
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .bg-graph {
    background-image: linear-gradient(rgba(23, 23, 23, 0.2) 1.5px, transparent 1.5px), linear-gradient(90deg, rgba(23, 23, 23, 0.2) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
  }

  .dark .bg-graph {
    background-image: linear-gradient(rgba(250, 250, 250, 0.13) 1.5px, transparent 1.5px), linear-gradient(90deg, rgba(250, 250, 250, 0.13) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
  }
}